.fade-in
    opacity: 0
    animation: fadeIn ease-in 1
    animation-fill-mode: forwards
    animation-duration: .7s
    &.one
        animation-delay: 0.2s
    &.two
        animation-delay: 0.5s
    &.three
        animation-delay: 0.8s

h4
	pointer-events: none
	cursor: default

.mailto-hyperlink //Footer email hyperlink
	@media (max-width: 600px) // Adjust the max-width as needed
		font-size: 1.3rem !important
		white-space: nowrap // Ensure it stays on one line
		overflow: hidden // Hide overflow if necessary
		text-overflow: ellipsis // Optional: adds "..." if text is too long